In [5]:
import pandas as pd
import numpy as np
from pathlib import Path
import datetime
from tqdm import tqdm

In [6]:
# import the dataset
path = Path("/home/yhbedoya/Repositories/SHM-MAE/INSIST_SS335/")
day_start = datetime.date(2019,4,17)
num_days = 1

ldf = []
for x in range(num_days):
    yy, mm, dd = (day_start + datetime.timedelta(days=x)).strftime('%Y,%m,%d').split(",")
    date = f"{int(yy)}{int(mm)}{int(dd)}"
    df = pd.read_csv(path / f"ss335-acc-{date}.csv")
    ldf.append(df.drop(['x','y', "year", "month", "day", "Unnamed: 0"], axis=1))
df = pd.concat(ldf).sort_values(by=['sens_pos', 'ts'])
df = df.reset_index(drop=True)

In [8]:
df

,ts,sens_pos,z
0,1555452000504,S6.1.1,[-13078 -13068 -13068 -13068 -13062 -13073 -13...
1,1555452001504,S6.1.1,[-13062 -13067 -13065 -13064 -13085 -13074 -13...
2,1555452002504,S6.1.1,[-13071 -13079 -13072 -13066 -13063 -13064 -13...
3,1555452003504,S6.1.1,[-13072 -13075 -13087 -13081 -13078 -13083 -13...
4,1555452004504,S6.1.1,[-13055 -13070 -13066 -13065 -13075 -13086 -13...
...,...,...,...
431970,1555538394302,S6.1.5,[-13288 -13296 -13290 -13297 -13288 -13285 -13...
431971,1555538395302,S6.1.5,[-13286 -13283 -13289 -13290 -13287 -13287 -13...
431972,1555538396302,S6.1.5,[-13283 -13278 -13284 -13283 -13280 -13290 -13...
431973,1555538397302,S6.1.5,[-13290 -13301 -13288 -13276 -13281 -13280 -13...
431974,1555538398302,S6.1.5,[-13285 -13278 -13310 -13298 -13279 -13289 -13...

In [4]:
new_dict = {
    "ts": [],
    "sens_pos": [],
    "z": [],
}
conv = (1*2.5)*2**-15

for i in tqdm(range(len(df))):
    data_splited = df["z"][i].split(" ")
    ts = datetime.datetime.utcfromtimestamp(df["ts"][i]/1000)
    sens = df["sens_pos"][i]
    
    for idx, data in enumerate(data_splited):
        if idx == 0:
            z = int(data[1:])
        elif idx == len(data_splited)-1:
            z = int(data[:-1])
        else:
            z = int(data)
        new_dict["ts"].append(ts + idx*datetime.timedelta(milliseconds=10))
        new_dict["z"].append(z * conv)
        new_dict["sens_pos"].append(sens)

df_new = pd.DataFrame(new_dict)

100%|██████████| 431975/431975 [05:19<00:00, 1353.42it/s]

In [9]:
df_new[df_new["sens_pos"]=="S6.1.3"]

                              ts sens_pos      z
100      2019-04-16 22:00:00.500   S6.1.3 -13256
101      2019-04-16 22:00:00.510   S6.1.3 -13258
102      2019-04-16 22:00:00.520   S6.1.3 -13255
103      2019-04-16 22:00:00.530   S6.1.3 -13256
104      2019-04-16 22:00:00.540   S6.1.3 -13269
...                          ...      ...    ...
43197295 2019-04-17 21:59:59.252   S6.1.3 -13227
43197296 2019-04-17 21:59:59.262   S6.1.3 -13240
43197297 2019-04-17 21:59:59.272   S6.1.3 -13241
43197298 2019-04-17 21:59:59.282   S6.1.3 -13216
43197299 2019-04-17 21:59:59.292   S6.1.3 -13233

[8639500 rows x 3 columns]

In [6]:
# May 9, 2019

In [8]:
pd.read_csv("sacertis/Dati pese dinamiche - Viadotto C.A/dati 2021-12-04_2021-12-12 pesa km 104,450.csv", sep=";")

,N.,Id,Ds000IdSite,SiteName,StartTimeStr,LaneNo,ClassId,Direction,VehicleLength,GrossWeight,...,Plate2,BetweenLane,NamePhoto,NamePhoto2,PathPhoto,Temperature,TemperatureUnit,Deflection,DeflectionUnit,StrongAccDec
0,1,99198,3,104+450 S,12/12/2021 23:57,2,Classe 1,Savona,4.43,1570,...,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1,2,99197,3,104+450 S,12/12/2021 23:55,2,Classe 1,Savona,4.43,1625,...,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
2,3,99196,3,104+450 S,12/12/2021 23:54,2,Classe 1,Savona,4.18,1595,...,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3,4,99195,3,104+450 S,12/12/2021 23:52,2,Classe 1,Savona,5.03,1920,...,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
4,5,99194,3,104+450 S,12/12/2021 23:48,2,Classe 9,Savona,16.78,13665,...,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53261,53262,45936,3,104+450 S,04/12/2021 03:57,2,Classe 2,Savona,5.45,3210,...,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
53262,53263,45935,3,104+450 S,04/12/2021 00:32,2,Classe 2,Savona,6.67,2485,...,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
53263,53264,45934,3,104+450 S,04/12/2021 00:32,2,Classe 1,Savona,3.49,1000,...,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
53264,53265,45933,3,104+450 S,04/12/2021 00:13,1,Classe 2,Savona,6.89,4810,...,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
53265,53266,45932,3,104+450 S,04/12/2021 00:13,2,Classe 1,Savona,3.89,1105,...,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False