In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../dati_pese_dinamiche/dati 2021-12-04_2021-12-12 pesa km 104,450.csv', sep=";")
df

,N.,Id,Ds000IdSite,SiteName,StartTimeStr,LaneNo,ClassId,Direction,VehicleLength,GrossWeight,...,Plate2,BetweenLane,NamePhoto,NamePhoto2,PathPhoto,Temperature,TemperatureUnit,Deflection,DeflectionUnit,StrongAccDec
0,1,99198,3,104+450 S,12/12/2021 23:57,2,Classe 1,Savona,4.43,1570,...,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1,2,99197,3,104+450 S,12/12/2021 23:55,2,Classe 1,Savona,4.43,1625,...,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
2,3,99196,3,104+450 S,12/12/2021 23:54,2,Classe 1,Savona,4.18,1595,...,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3,4,99195,3,104+450 S,12/12/2021 23:52,2,Classe 1,Savona,5.03,1920,...,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
4,5,99194,3,104+450 S,12/12/2021 23:48,2,Classe 9,Savona,16.78,13665,...,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53261,53262,45936,3,104+450 S,04/12/2021 03:57,2,Classe 2,Savona,5.45,3210,...,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
53262,53263,45935,3,104+450 S,04/12/2021 00:32,2,Classe 2,Savona,6.67,2485,...,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
53263,53264,45934,3,104+450 S,04/12/2021 00:32,2,Classe 1,Savona,3.49,1000,...,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
53264,53265,45933,3,104+450 S,04/12/2021 00:13,1,Classe 2,Savona,6.89,4810,...,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
53265,53266,45932,3,104+450 S,04/12/2021 00:13,2,Classe 1,Savona,3.89,1105,...,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False

In [4]:
df.sort_values('StartTimeStr')

,N.,Id,Ds000IdSite,SiteName,StartTimeStr,LaneNo,ClassId,Direction,VehicleLength,GrossWeight,...,Plate2,BetweenLane,NamePhoto,NamePhoto2,PathPhoto,Temperature,TemperatureUnit,Deflection,DeflectionUnit,StrongAccDec
53265,53266,45932,3,104+450 S,04/12/2021 00:13,2,Classe 1,Savona,3.89,1105,...,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
53264,53265,45933,3,104+450 S,04/12/2021 00:13,1,Classe 2,Savona,6.89,4810,...,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
53262,53263,45935,3,104+450 S,04/12/2021 00:32,2,Classe 2,Savona,6.67,2485,...,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
53263,53264,45934,3,104+450 S,04/12/2021 00:32,2,Classe 1,Savona,3.49,1000,...,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
53261,53262,45936,3,104+450 S,04/12/2021 03:57,2,Classe 2,Savona,5.45,3210,...,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,5,99194,3,104+450 S,12/12/2021 23:48,2,Classe 9,Savona,16.78,13665,...,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3,4,99195,3,104+450 S,12/12/2021 23:52,2,Classe 1,Savona,5.03,1920,...,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
2,3,99196,3,104+450 S,12/12/2021 23:54,2,Classe 1,Savona,4.18,1595,...,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1,2,99197,3,104+450 S,12/12/2021 23:55,2,Classe 1,Savona,4.43,1625,...,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
0,1,99198,3,104+450 S,12/12/2021 23:57,2,Classe 1,Savona,4.43,1570,...,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False

In [10]:
def spliter(row):
    date = row['StartTimeStr'].split(" ")[0]
    return date

In [11]:
df['date'] = df.apply(spliter, axis=1)
df

,N.,Id,Ds000IdSite,SiteName,StartTimeStr,LaneNo,ClassId,Direction,VehicleLength,GrossWeight,...,BetweenLane,NamePhoto,NamePhoto2,PathPhoto,Temperature,TemperatureUnit,Deflection,DeflectionUnit,StrongAccDec,date
0,1,99198,3,104+450 S,12/12/2021 23:57,2,Classe 1,Savona,4.43,1570,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,12/12/2021
1,2,99197,3,104+450 S,12/12/2021 23:55,2,Classe 1,Savona,4.43,1625,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,12/12/2021
2,3,99196,3,104+450 S,12/12/2021 23:54,2,Classe 1,Savona,4.18,1595,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,12/12/2021
3,4,99195,3,104+450 S,12/12/2021 23:52,2,Classe 1,Savona,5.03,1920,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,12/12/2021
4,5,99194,3,104+450 S,12/12/2021 23:48,2,Classe 9,Savona,16.78,13665,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,12/12/2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53261,53262,45936,3,104+450 S,04/12/2021 03:57,2,Classe 2,Savona,5.45,3210,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,04/12/2021
53262,53263,45935,3,104+450 S,04/12/2021 00:32,2,Classe 2,Savona,6.67,2485,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,04/12/2021
53263,53264,45934,3,104+450 S,04/12/2021 00:32,2,Classe 1,Savona,3.49,1000,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,04/12/2021
53264,53265,45933,3,104+450 S,04/12/2021 00:13,1,Classe 2,Savona,6.89,4810,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,04/12/2021
53265,53266,45932,3,104+450 S,04/12/2021 00:13,2,Classe 1,Savona,3.89,1105,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,04/12/2021

In [21]:
df[(df['date'] == '05/12/2021') &  (df['StartTimeStr'] >= '05/12/2021 23:55')]

,N.,Id,Ds000IdSite,SiteName,StartTimeStr,LaneNo,ClassId,Direction,VehicleLength,GrossWeight,...,BetweenLane,NamePhoto,NamePhoto2,PathPhoto,Temperature,TemperatureUnit,Deflection,DeflectionUnit,StrongAccDec,date
39490,39491,59707,3,104+450 S,05/12/2021 23:59,2,Classe 2,Savona,5.25,2625,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,05/12/2021
39491,39492,59706,3,104+450 S,05/12/2021 23:58,2,Classe 1,Savona,4.78,1625,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,05/12/2021
39492,39493,59705,3,104+450 S,05/12/2021 23:58,2,Classe 1,Savona,4.52,1640,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,05/12/2021
39493,39494,59704,3,104+450 S,05/12/2021 23:57,2,Classe 1,Savona,3.69,1095,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,05/12/2021