In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("ss335-acc-201951.csv", index_col=0)
df

,year,month,day,ts,sens_pos,x,y,z
0,2019,4,30,1556661600017,S6.1.1,[ 4 4 2 6 5 0 2 6 -1 2 4 2 5 4 2 ...,[-386 -385 -386 -387 -385 -387 -383 -384 -381 ...,[-13066 -13068 -13059 -13071 -13065 -13066 -13...
1,2019,4,30,1556661600020,S6.1.2,[76 75 76 75 78 78 79 77 80 79 79 79 77 79 76 ...,[-236 -237 -236 -236 -239 -237 -233 -235 -235 ...,[-12876 -12888 -12872 -12864 -12860 -12872 -12...
2,2019,4,30,1556661600020,S6.1.3,[296 298 298 295 296 295 296 299 298 296 295 2...,[11 13 12 11 12 10 8 11 11 10 15 12 12 11 9 ...,[-13263 -13259 -13271 -13266 -13267 -13265 -13...
3,2019,4,30,1556661600020,S6.1.5,[179 177 179 183 180 185 185 181 178 183 180 1...,[-181 -179 -183 -182 -181 -181 -179 -182 -180 ...,[-13338 -13335 -13331 -13348 -13336 -13340 -13...
4,2019,4,30,1556661600027,S6.1.4,[85 80 83 84 82 81 79 81 84 87 80 83 84 83 81 ...,[-129 -132 -126 -128 -128 -129 -128 -126 -127 ...,[-13325 -13320 -13341 -13325 -13336 -13333 -13...
...,...,...,...,...,...,...,...,...
431447,2019,5,1,1556747998832,S6.1.4,[84 85 84 85 81 84 83 80 83 84 83 83 82 83 81 ...,[-135 -136 -138 -134 -135 -136 -137 -139 -137 ...,[-13353 -13362 -13354 -13364 -13355 -13360 -13...
431448,2019,5,1,1556747998834,S6.1.2,[80 78 79 81 76 82 78 76 75 78 76 79 76 78 79 ...,[-237 -239 -237 -235 -236 -235 -233 -238 -235 ...,[-12898 -12898 -12895 -12891 -12893 -12903 -12...
431449,2019,5,1,1556747998834,S6.1.1,[ -4 -6 -7 -6 -6 -3 -8 -4 -2 -6 -6 ...,[-387 -390 -390 -388 -388 -389 -387 -389 -390 ...,[-13079 -13070 -13081 -13074 -13073 -13088 -13...
431450,2019,5,1,1556747998837,S6.1.3,[298 297 294 298 294 294 293 295 296 295 297 2...,[ 2 0 2 2 2 0 2 -1 -1 0 -4 -1 -1 1 0 ...,[-13232 -13245 -13227 -13246 -13239 -13236 -13...
431451,2019,5,1,1556747998837,S6.1.5,[184 181 181 180 181 184 176 184 183 182 188 1...,[-183 -181 -181 -182 -182 -178 -183 -183 -182 ...,[-13335 -13318 -13332 -13325 -13320 -13333 -13...

In [6]:
dfs = df[df["sens_pos"]=="S6.1.2"]
dfs

,year,month,day,ts,sens_pos,x,y,z
1,2019,4,30,1556661600020,S6.1.2,[76 75 76 75 78 78 79 77 80 79 79 79 77 79 76 ...,[-236 -237 -236 -236 -239 -237 -233 -235 -235 ...,[-12876 -12888 -12872 -12864 -12860 -12872 -12...
6,2019,4,30,1556661601020,S6.1.2,[80 76 76 78 76 77 77 76 75 76 76 79 74 77 78 ...,[-232 -232 -236 -233 -236 -238 -236 -234 -238 ...,[-12882 -12862 -12869 -12874 -12864 -12875 -12...
11,2019,4,30,1556661602020,S6.1.2,[78 75 78 76 77 77 76 76 76 79 77 74 75 77 78 ...,[-235 -238 -235 -236 -239 -235 -236 -237 -239 ...,[-12873 -12868 -12876 -12877 -12874 -12872 -12...
16,2019,4,30,1556661603020,S6.1.2,[82 76 79 78 79 76 77 79 74 80 76 76 78 80 78 ...,[-236 -235 -237 -236 -236 -235 -235 -236 -235 ...,[-12875 -12878 -12876 -12876 -12885 -12879 -12...
21,2019,4,30,1556661604020,S6.1.2,[77 78 80 79 77 77 76 77 76 77 76 75 76 77 78 ...,[-233 -237 -236 -236 -236 -235 -234 -235 -236 ...,[-12863 -12888 -12880 -12878 -12870 -12864 -12...
...,...,...,...,...,...,...,...,...
431428,2019,5,1,1556747994834,S6.1.2,[79 79 80 79 82 80 81 78 79 79 80 81 80 79 82 ...,[-234 -235 -234 -237 -236 -235 -232 -234 -235 ...,[-12898 -12902 -12906 -12898 -12915 -12898 -12...
431433,2019,5,1,1556747995834,S6.1.2,[81 79 80 81 80 79 79 79 80 82 81 79 80 80 80 ...,[-238 -235 -234 -236 -235 -235 -237 -235 -239 ...,[-12903 -12907 -12902 -12903 -12907 -12904 -12...
431438,2019,5,1,1556747996834,S6.1.2,[79 79 79 80 81 78 79 79 78 78 79 82 82 82 77 ...,[-232 -234 -234 -237 -237 -236 -235 -237 -234 ...,[-12894 -12912 -12899 -12908 -12911 -12911 -12...
431443,2019,5,1,1556747997834,S6.1.2,[78 79 77 78 77 82 79 79 83 78 81 79 76 81 78 ...,[-232 -236 -238 -236 -235 -233 -235 -236 -233 ...,[-12903 -12900 -12885 -12908 -12892 -12907 -12...
431448,2019,5,1,1556747998834,S6.1.2,[80 78 79 81 76 82 78 76 75 78 76 79 76 78 79 ...,[-237 -239 -237 -235 -236 -235 -233 -238 -235 ...,[-12898 -12898 -12895 -12891 -12893 -12903 -12...

In [7]:
dfs['ts'] = pd.to_datetime(dfs['ts'], unit='ms')
dfs

/home/yhbedoya/VirtualEnvs/SHMmae_venv/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,year,month,day,ts,sens_pos,x,y,z
1,2019,4,30,2019-04-30 22:00:00.020,S6.1.2,[76 75 76 75 78 78 79 77 80 79 79 79 77 79 76 ...,[-236 -237 -236 -236 -239 -237 -233 -235 -235 ...,[-12876 -12888 -12872 -12864 -12860 -12872 -12...
6,2019,4,30,2019-04-30 22:00:01.020,S6.1.2,[80 76 76 78 76 77 77 76 75 76 76 79 74 77 78 ...,[-232 -232 -236 -233 -236 -238 -236 -234 -238 ...,[-12882 -12862 -12869 -12874 -12864 -12875 -12...
11,2019,4,30,2019-04-30 22:00:02.020,S6.1.2,[78 75 78 76 77 77 76 76 76 79 77 74 75 77 78 ...,[-235 -238 -235 -236 -239 -235 -236 -237 -239 ...,[-12873 -12868 -12876 -12877 -12874 -12872 -12...
16,2019,4,30,2019-04-30 22:00:03.020,S6.1.2,[82 76 79 78 79 76 77 79 74 80 76 76 78 80 78 ...,[-236 -235 -237 -236 -236 -235 -235 -236 -235 ...,[-12875 -12878 -12876 -12876 -12885 -12879 -12...
21,2019,4,30,2019-04-30 22:00:04.020,S6.1.2,[77 78 80 79 77 77 76 77 76 77 76 75 76 77 78 ...,[-233 -237 -236 -236 -236 -235 -234 -235 -236 ...,[-12863 -12888 -12880 -12878 -12870 -12864 -12...
...,...,...,...,...,...,...,...,...
431428,2019,5,1,2019-05-01 21:59:54.834,S6.1.2,[79 79 80 79 82 80 81 78 79 79 80 81 80 79 82 ...,[-234 -235 -234 -237 -236 -235 -232 -234 -235 ...,[-12898 -12902 -12906 -12898 -12915 -12898 -12...
431433,2019,5,1,2019-05-01 21:59:55.834,S6.1.2,[81 79 80 81 80 79 79 79 80 82 81 79 80 80 80 ...,[-238 -235 -234 -236 -235 -235 -237 -235 -239 ...,[-12903 -12907 -12902 -12903 -12907 -12904 -12...
431438,2019,5,1,2019-05-01 21:59:56.834,S6.1.2,[79 79 79 80 81 78 79 79 78 78 79 82 82 82 77 ...,[-232 -234 -234 -237 -237 -236 -235 -237 -234 ...,[-12894 -12912 -12899 -12908 -12911 -12911 -12...
431443,2019,5,1,2019-05-01 21:59:57.834,S6.1.2,[78 79 77 78 77 82 79 79 83 78 81 79 76 81 78 ...,[-232 -236 -238 -236 -235 -233 -235 -236 -233 ...,[-12903 -12900 -12885 -12908 -12892 -12907 -12...
431448,2019,5,1,2019-05-01 21:59:58.834,S6.1.2,[80 78 79 81 76 82 78 76 75 78 76 79 76 78 79 ...,[-237 -239 -237 -235 -236 -235 -233 -238 -235 ...,[-12898 -12898 -12895 -12891 -12893 -12903 -12...

In [8]:
dfs["x"][1]

'[76 75 76 75 78 78 79 77 80 79 79 79 77 79 76 77 75 77 76 77 78 74 79 77\n 73 76 75 75 77 78 76 75 80 80 76 76 79 79 73 76 78 78 74 75 74 76 75 76\n 77 79 78 76 75 77 78 75 75 80 80 76 79 78 77 78 77 77 79 78 76 76 80 74\n 78 77 79 78 74 75 77 75 79 81 76 75 77 77 78 77 76 79 78 80 77 76 80 78\n 79 77 78 77]'

In [ ]:
def flatter(row):
    row["x"] = row["x"].replace("\n", "").replace("[", "").replace("]", "").split(" ")
    row["y"] = row["y"].replace("\n", "").replace("[", "").replace("]", "").split(" ")
    row["z"] = row["z"].replace("\n", "").replace("[", "").replace("]", "").split(" ")

    return row

dfs = dfs.apply(flatter, axis=1)
dfs

In [12]:
len(dfs["x"][1])

100